body{
    background-color: white;
}

table{
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
    margin: 200px auto;
}

table, th, td{
    border: 1px solid black;

}

th, td {
    text-align: center;
    padding: 20px;
}

th {
    font-size: 2em;

}

.first td:nth-child(2n+1){
    background-color: #DBDBDB;
}

.first td:nth-child(2n),
.second td:nth-child(2n+1){
    background-color: #E7E7E7;
}

.th th:first-child{
    background-color: blue;
    opacity: 0.6;

}

.th th:last-child{
    background-color: blue;
}

.th th:nth-child(2){
background-color: blue;
    opacity: 0.7;

}

.th th:nth-child(3){
    background-color: blue;
    opacity: 0.8;
}

.th th:nth-child(4){
    background-color: blue;
    opacity: 0.9;
}

th {
    color: white;

}

.width{
    width: 300px;
}