body{
    background-color: white;
}

table{
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
    margin: 200px auto;
}

table, th, td{
    border: 1px solid black;

}

th, td {
    text-align: center;
    padding: 20px;
}

th {
    font-size: 2em;

}

.first td:nth-child(2n+1){
    background-color: #DBDBDB;
}

.first td:nth-child(2n){
    background-color: #E7E7E7;
}

.second td:nth-child(2n+1){
    background-color: #E7E7E7;
}